<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>layer2</title>
  <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'><link rel="stylesheet" href="./static/css/layer2card.css">
<link rel="stylesheet" href="./static/css/messagebox.css">
</head>
<body>
 {% with messages = get_flashed_messages() %}
               {% if messages %}
                    {% for message in messages %}
                    <div class="success box">
                        {{message}}
                    </div>
                  {% endfor %}
                {% endif %}
              {% endwith %}

<div class="topnav">
  <a class="active" href="/home">Home</a>
   {% if current_user.is_authenticated%}
   <div class="dropdownwoo">
    <button class="dropbtnwoo" onclick="location.href='/r_sumit'">新增餐廳
      <i class="fa fa-caret-down"></i>
    </button>
  </div>
    {% else %}
    {%endif%}
   <div class="dropdownwoo">
    <button class="dropbtnwoo">價錢
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-contentwoo">
      <a href="#">100內</a>
      <a href="#">100~300</a>
      <a href="#">300上</a>
    </div>
  </div>
   <div class="dropdownwoo">
    <button class="dropbtnwoo">評分
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-contentwoo">
      <a href="#">1星</a>
      <a href="#">2~3星</a>
      <a href="#">5星</a>
    </div>
    
  </div>
  
 
 
</div>




<!-- partial:index.partial.html -->
<div class="container mt-2">
<!--   <div class="card card-block mb-2">
    <h4 class="card-title">Card 1</h4>
    <p class="card-text">Welcom to bootstrap card styles</p>
    <a href="#" class="btn btn-primary">Submit</a>
  </div>   -->
  <div class="row">
  {%for r in data %}
  
    <div class="col-md-3 col-sm-6">
      <div class="card card-block">
      <h4 class="card-title text-right"><i class="material-icons">settings</i></h4>
    <img src="data:image/jpeg;base64,{{(r.image).decode('ISO-8859-1')}}" alt="Photo of sunset"/>
        <h5 class="card-title mt-3 mb-3">{{r.title}}</h5>
        <p class="card-text">簡介：{{r.description}}
                              價錢：{{r.money}}</p> 
      </div>
    </div>
 
  {%endfor %}
   </div>
    

  

<!-- partial -->
  <script src='https://code.jquery.com/jquery-3.1.1.slim.min.js'></script>
<script src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js'></script>
</body>
</html>
