<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - HTML5 Contact Form</title>
  <link rel="stylesheet" href="./static/css/r_sumit.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">  
  <form id="contact" action="" method="post">
    <h3>新增餐廳</h3>
    <h4>來新增你覺得讚讚的餐廳吧!</h4>
    <fieldset>
      <input placeholder="餐廳名稱" type="text" tabindex="1" required autofocus>
    </fieldset>
    <fieldset>
      <input placeholder="餐廳價位" type="email" tabindex="2" required>
    </fieldset>
    <fieldset>
      <input placeholder="餐廳電話" type="tel" tabindex="3" required>
    </fieldset>
    <fieldset>
      <input placeholder="餐廳照片" type="url" tabindex="4" required>
    </fieldset>
    <fieldset>
      <textarea placeholder="餐廳描述" tabindex="5" required></textarea>
    </fieldset>
    <fieldset>
      <button name="新增" type="submit" id="contact-submit" data-submit="...Sending">Submit</button>
    </fieldset>
  </form>
 
  
</div>
<!-- partial -->
  
</body>
</html>
